<div class="row">
  <div class="col-sm">
    <%= form_for @saying do |form| %>
      <div class="form-group">
        <%= form.label :words %>
        <%= form.text_area :words, class: 'form-control' %>
      </div>
      <%= form.submit "Talk!", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
