<div class="row">
  <div class="col-sm">
    <%= simple_format @saying.words %>
    <a id="playAgainLink" href="#playAgain">Play Again</a>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    var mySound = new buzz.sound("/sayings/<%= filename_for(@saying).gsub('aiff', 'mp3') %>");
    mySound.play();

    $('#playAgainLink').click(function (e) {
      e.preventDefault();
      mySound.play();
    })
  })
</script>
