<div class="words">
  <%= simple_format @saying.words %>
</div>

<a id="playAgainLink" href="#playAgain">Play Again</a>

<script type="text/javascript">
  $(function(){
    var mySound = new buzz.sound("/sayings/<%= filename_for(@saying).gsub('aiff', 'mp3') %>");
    mySound.play();

    $('#playAgainLink').click(function (e) {
      e.preventDefault();
      mySound.play();
    })
  })
</script>
